<% layout('layouts/boilerplate') %>
<h1>All Campgrounds</h1>
<a href="/campgrounds/new">Add new campground</a>
<ul>
  <% for(let campground of campgrounds){ %>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <img src="<%= campground.image %>" alt="" class="image-fluid" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title"><%= campground.title %></h1>
          <p class="card-text"><%= campground.description %></p>
          <p class="mb-2">
            <small class="text-muted mb-2"><%= campground.location %></small>
          </p>
          <p class="card-text">
            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"
              >view <%= campground.title %></a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</ul>
